@*@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }*@




@*@{
    ViewBag.Title = "基本信息";
    }*@
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>广告素材列表</title>
</head>

<body>
    <div class="layui-fluid" style="margin-top: 30px;">
        <div class="layui-card">
            <div class="layui-form ">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;">素材ID</label>
                        <div class="layui-input-inline" style="width: 300px; margin-right: 57px;">
                            <input type="text" name="ADName" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;">广告介绍</label>
                        <div class="layui-input-inline">
                            <input type="text" name="BusinessPlanID" class="layui-input" value="">
                        </div>
                    </div>
                </div>
                <div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        <lable i18n="footer.search">搜索</lable>
                    </button>
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-add">
                        <lable i18n="footer.search">新建素材</lable>
                    </button>
                </div>
            </div>

            <div class="layui-card-body">
                <table id="LAY-CreativeList" lay-filter="LAY-CreativeList"></table>
                <script type="text/html" id="video">
                <div onclick="showImg(this)"><img  src="{{ d.VideoUrl.replace('mp4', 'png') }}" style="width:30px; height:30px;"></div>
                </script>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    layui.use(['form', 'jquery', 'table', 'layer', 'laydate'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        //新增日期插件
        function dateAdd() {
            lay('.datetime').each(function () {
                laydate.render({
                    elem: this,
                    trigger: 'click',
                    type: 'datetime'
                })
            })
        }
        dateAdd();
        table.set({
            parseData: function (res) {
                return {
                    code: res.status, //解析接口状态
                    msg: res.msg, //解析提示文本
                    count: res.data.total ? res.data.total.total : 0, //解析数据长度
                    data: res.data, //解析数据列表
                }
            },
        })
        //表格加载
        var cols = [[
            { field: 'SourceID', title: '素材ID', }
            , { field: 'VideoUrl', title: '预览', templet: '#video' }
            , { field: 'Introduce', title: '广告介绍', }
            , { field: 'LastUpdateTime', title: '最后更新时间', }
            , { field: 'CreateTime', title: '创建时间', }
            , { field: 'Status', title: '状态', }
        ]]
        var tableIns = table.render({
            elem: '#LAY-CreativeList',
            url: '/Creative/GetList', //数据接口
            cols: cols,
            method: 'post',
            done: function (res) { },
            parseData: function (res) {
                return {
                    code: res.code, //解析接口状态
                    msg: res.msg, //解析提示文本
                    count: res.count ? res.count : 0, //解析数据长度
                    data: res.data, //解析数据列表
                }
            },
            page: true,
            text: {
                none: '暂无相关数据',
            },
            defaultToolbar: [],
        })
        //搜索事件
        form.on('submit(LAY-user-front-search)', function (data) {
            var field = data.field
            //执行重载
            tableIns.reload({
                page: {
                    curr: 1,
                },
                where: field,
            })
        })
        form.on('submit(LAY-user-front-add)', function (data) {
            window.location.href = '../Creative/From';
        })
        $(function () {
            //点击图片播放视频

        })

    });
    function showImg(t) {
        var t = $(t).find("img");
        var loadstr = '<video width="100%" height="100%"  controls="controls" autobuffer="autobuffer"  autoplay="autoplay" loop="loop"><source src="' + $(t).attr('src').replace('png', 'mp4') + '" type="video/mp4"></source></video>'

        //页面层
        layer.open({
            type: 1,
            closeBtn: 1,
            shade: false,
            title: '播放视频', //不显示标题
            //skin: 'layui-layer-nobg', //没有背景色
            shadeClose: false,
            area: ['50%', '70%'],
            content: loadstr
        });
    }
</script>