@*@{
    ViewBag.Title = "基本信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }*@




@*@{
    ViewBag.Title = "基本信息";
    }*@
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增计划</title>
</head>

<body>
    <div class="layui-fluid layui-form" style="margin-top: 30px;">
        <div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>基本信息</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label"><em style="color: #ff111d;">*</em> 广告名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="ad_name" placeholder="请输入广告名称" class="layui-input" value="">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入不超过50个字符</div>
            </div>
            <div class="layui-form-item" id="dis-tfdw">
                <label class="layui-form-label"><em style="color: #ff111d;">*</em> 推广类型:</label>
                <div class="layui-input-inline">
                    <select name="ad_activity_type" id="ad_activity_type" lay-filter="activity_type">
                        <option value="-1">请选择广告类型</option>
                        <option value="0">视频流广告</option>
                        <option value="1002">激励视频广告</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" id="put-time-fixed" style="">
                <label class="layui-form-label"><em style="color: #ff111d;">*</em> 投放排期:</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" class="layui-input" id="deliver_date" placeholder=" - "
                        lay-key="1">
                </div>
            </div>
            <div class="layui-form-item" id="put-time-section-fixed" style="" unselectable="on"
                onselectstart="return false;">
                <label class="layui-form-label"><em style="color: #ff111d;">*</em> 投放时段:
                </label>

                <div id="table_time_selected" class="table_time_selected">
                    <input type="hidden" name="put_time_section" id="put_time_section" "="">
                                <input type=" hidden" class="default_time_val" value="000000000000000000000000" "="">
                            <table cellspacing=" 0" cellpadding="0" border="0" class="plug-timer-grid"
                        onselectstart="return false" onselect="document.selection.empty()">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="12"><span class="layui-text">上午</span></th>
                            <th colspan="12"><span class="layui-text">下午</span></th>
                        </tr>
                        <tr class="hour">
                            <th><span style="color: #666;font-size: 10px">小时</span></th>
                            <td colspan="1" hour="0">0</td>
                            <td colspan="1" hour="1">1</td>
                            <td colspan="1" hour="2">2</td>
                            <td colspan="1" hour="3">3</td>
                            <td colspan="1" hour="4">4</td>
                            <td colspan="1" hour="5">5</td>
                            <td colspan="1" hour="6">6</td>
                            <td colspan="1" hour="7">7</td>
                            <td colspan="1" hour="8">8</td>
                            <td colspan="1" hour="9">9</td>
                            <td colspan="1" hour="10">10</td>
                            <td colspan="1" hour="11">11</td>
                            <td colspan="1" hour="12">12</td>
                            <td colspan="1" hour="13">13</td>
                            <td colspan="1" hour="14">14</td>
                            <td colspan="1" hour="15">15</td>
                            <td colspan="1" hour="16">16</td>
                            <td colspan="1" hour="17">17</td>
                            <td colspan="1" hour="18">18</td>
                            <td colspan="1" hour="19">19</td>
                            <td colspan="1" hour="20">20</td>
                            <td colspan="1" hour="21">21</td>
                            <td colspan="1" hour="22">22</td>
                            <td colspan="1" hour="23">23</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th week="1"><span style="color: #666;font-size: 10px">全选/取消</span></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    </table><input class="focus" style="opacity: 0;">
                    <div id="table_time_selected_time_seled"></div>
                    <div id="table_time_selected_time_num" class="reda-add-box" style="margin-left:110px">
                        <div class="reda-add-title">已选时间段<div class="reda-delete-all clear"
                                style="cursor:pointer;margin-top: 1px">清空全部</div>
                        </div>
                        <ul id="selected_time_list" style="min-height:100px;height:auto;"></ul>
                    </div>
                </div>

            </div>
            <div class="layui-form-item">

            </div>
        </div>
        <div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>用户定向</legend>
            </fieldset>
            <div class="layui-form-item">

            </div>
            <div class="layui-form-item">

            </div>
        </div>
        <div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>素材上传</legend>
            </fieldset>
            <div class="layui-form-item">

            </div>
            <div class="layui-form-item">

            </div>
        </div>
        <div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend><a name="use">提交信息</a></legend>
            </fieldset>
            <div class="layui-input-block">
                <button type="button" lay-submit class="layui-btn" lay-filter="sub">保存</button>
                <button type="button" lay-submit class="layui-btn" lay-filter="sub2">保存并提交</button>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    layui.use(['form', 'jquery', 'table', 'layer', 'laydate', 'upload'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var upload = layui.upload;

        upload.render({
            before: function () {
                layer.msg('视频努力上传中,请耐心等待...', { icon: 16, shade: 0.8, time: false });
            },
            elem: '#VideoBtn'
            , url: '@Url.Action("FileLoad","FileUpload")'
            , accept: 'video' //视频
            , exts: 'mp4'//只允许上传的后缀(mp4文件)
            , done: function (res) {
                console.log(res);
                layer.closeAll();
                layer.msg(res.msg);
                if (res.code == 1) {
                    $("#Video").val(res.path);
                    $("#videoPlay").html('<video controls="controls" id="currentVideo" style="width:400px;"><source src="' + res.path + '" type="video/mp4" /></video>');
                    $("#videoPlay").show();
                    // 自动播放
                    $("#currentVideo")[0].play();
                }
            }
        });

        $(".layui-upload-list").on("click", "i", function () {
            $(this).parent().remove();
        });

        function checkData() {
            var video_url = $('input[name=Video]').val();
            if (video_url.length <= 0) {
                layer.msg('请上传视频');
                return false;
            }

            var desc_content = $('textarea[name=desc_content]').val();
            if (desc_content.length <= 0) {
                layer.msg('广告介绍不能为空');
                return false;
            }
            if (desc_content.length > 30) {
                layer.msg('广告介绍不能超过30个字符');
                return false;
            }
            return true;
        }
        form.on('submit(sub)', function (data) {
            debugger;
            var field = data.field
            if (checkData()) {
                $.ajax({
                    type: "POST",
                    url: "/Creative/Add",
                    data: field,
                    dataType: "JSON",
                    success: function (msg) {
                        if (!msg.result) {
                            layer.alert(msg.msg);
                            return;
                        }
                        layer.alert(msg.msg, function () {
                            window.location.reload();
                        });
                    }
                });

            }
        })
    });
</script>