
@{
    ViewBag.Title = "报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var NewAdPlanId = ViewBag.NewAdPlanId;
    var IsAmdin = ViewBag.IsAdmin ? "1" : "0";
}

<blockquote class="layui-elem-quote blog-manage-breadcrumb" style="margin-top: 5px;">
    <span class="layui-breadcrumb">
        <a>报表</a>
        <a href="@Url.Action("Index", "PlanReport")"><cite>活动报表中心</cite></a>
    </span>
</blockquote>

<style type="text/css">
    .layui-table-cell {
        font-size: 14px;
        padding: 0 5px;
        height: auto;
        overflow: visible;
        text-overflow: inherit;
        white-space: normal;
        word-break: break-all;
    }
</style>

<div class="layui-fluid" style="margin-top: 20px;">
    <div class="layui-card">
        <div class="layui-form ">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px;">广告计划名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="AdName" id="AdName" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px;">广告计划ID</label>
                    <div class="layui-input-inline" style="width: 300px; margin-right: 57px;">
                        <input type="text" name="NewAdPlanID" id="NewAdPlanID" class="layui-input" value="@NewAdPlanId">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px;">投放状态</label>
                    <div class="layui-input-inline">
                        <select name="LaunchStatus" id="LaunchStatus">
                            <option value="">全部状态</option>
                            <option value="1">已发布(待投放和投放中)</option>
                            <option value="2">已结束</option>
                            <option value="3">已暂停</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 100px;">选择统计时间</label>
                    <div id="put_start_time_box" class="layui-input-inline" style="width: 150px;">
                        <input type="text" class="layui-input datetime" id="StartLaunchTime" name="StartLaunchTime"
                               placeholder="投放开始时间" readonly value="">
                    </div>
                    <div style="display: inline-block; float: left; margin-right: 10px;">
                        ~
                    </div>
                    <div id="put_end_time_box" class="layui-input-inline" style="width: 150px; margin-right: 30px;">
                        <input type="text" class="layui-input datetime" id="EndLaunchTime" name="EndLaunchTime"
                               placeholder="投放结束时间" readonly value="">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search" lay-verify="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        <lable i18n="footer.search">搜索</lable>
                    </button>

                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="downLoad">
                        <i class="layui-icon layui-icon-download-circle layuiadmin-button-btn"></i>
                        <lable i18n="footer.search">下载数据</lable>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="layui-card-body">
        <table id="LAY-CreativePlan" lay-filter="LAY-CreativePlan"></table>
    </div>
</div>

@section Scripts{
    <script>
        var IsAmdin=@IsAmdin;
        layui.use(['laydate','form', 'table', 'layer'], function () {
            var $ = layui.jquery;
            var table = layui.table;
            var layer = layui.layer;
            var laydate = layui.laydate;
            var form = layui.form;

            //日期范围选择
            laydate.render({
                elem: '#StartLaunchTime',
                value: GetDay(30)
            });
            laydate.render({
                elem: '#EndLaunchTime',
                value: GetDay(0)
            });

            function GetDay(n) {
                var n = n;
                var d = new Date();
                var year = d.getFullYear();
                var mon = d.getMonth() + 1;
                var day = d.getDate();
                if (day <= n) {
                    if (mon > 1) {
                        mon = mon - 1;
                    }
                    else {
                        year = year - 1;
                        mon = 12;
                    }
                }
                d.setDate(d.getDate() - n);
                year = d.getFullYear();
                mon = d.getMonth() + 1;
                day = d.getDate();
                s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-" + (day < 10 ? ('0' + day) : day);
                return s;
            }

            table.set({
                parseData: function (res) {
                    return {
                        code: res.status, //解析接口状态
                        msg: res.msg, //解析提示文本
                        count: res.data.total ? res.data.total.total : 0, //解析数据长度
                        data: res.data, //解析数据列表
                    }
                },
            })

            //表格加载
            var cols = [[
                { field: 'NewAdPlanId', title: '广告ID', }
                , { field: 'LaunchDateStr', title: '投放时间', }
                , { field: 'AdName', title: '广告名称', }
                , {
                    field: 'LaunchStatus', title: '投放状态', templet: function (d) {
                        if (d.LaunchStatus == 1) { return '已发布' } if (d.LaunchStatus == 2) { return '已结束' } if (d.LaunchStatus == 3) { return '已暂停' }
                    }
                }
                , { field: 'PV', title: '爆光(PV)', }
                , { field: 'CPV', title: '点击(CPV)', }
                , { field: 'CTRPV', title: 'CTR(PV)', }
                , { field: 'UV', title: '爆光(UV)', }
                , { field: 'CUV', title: '点击(CUV)', }
                , { field: 'CTRUV', title: 'CTR(UV)', }
                , { field: 'DPV', title: '下载量(DPV)', }
                , { field: 'InstallCount', title: '安装量', }
                , { field: 'ActualAmount', title: '实际消耗金额', }
            ]]
            var tableIns = table.render({
                elem: '#LAY-CreativePlan',
                url: '/PlanReport/GetAdPlanReportList', //数据接口
                cols: cols,
                method: 'post',
                done: function (res) { },
                parseData: function (res) {
                    return {
                        code: res.code, //解析接口状态
                        msg: res.msg, //解析提示文本
                        count: res.count ? res.count : 0, //解析数据长度
                        data: res.data, //解析数据列表
                    }
                },
                page: true,
                text: {
                    none: '暂无相关数据',
                },
                where: {
                    AdName: $.trim($("#AdName").val()),
                    StartLaunchTime: $.trim($("#StartLaunchTime").val()),
                    EndLaunchTime: $.trim($("#EndLaunchTime").val()),
                    Status: $.trim($("#Status").val()),
                    ADPlanID: $.trim($("#ADPlanID").val()),
                    NewAdPlanID: $.trim($("#NewAdPlanID").val()),
                    IsAmdin: IsAmdin,
                    LaunchStatus: $("#LaunchStatus").val()
                },
                defaultToolbar: [],
            })
            //搜索事件
            form.on('submit(LAY-user-front-search)', function (data) {
                var field = data.field
                //执行重载
                tableIns.reload({
                    page: {
                        curr: 1,
                    },
                    where: {
                        AdName: $.trim($("#AdName").val()),
                        StartLaunchTime: $.trim($("#StartLaunchTime").val()),
                        EndLaunchTime: $.trim($("#EndLaunchTime").val()),
                        Status: $.trim($("#Status").val()),
                        ADPlanID: $.trim($("#ADPlanID").val()),
                        NewAdPlanID: $.trim($("#NewAdPlanID").val()),
                        IsAmdin: IsAmdin,
                        LaunchStatus: $("#LaunchStatus").val()
                    },
                })
            })

            //下载事件
            form.on('submit(downLoad)', function (data) {
                var loadIndex = layer.load();
                $.post("/PlanReport/GetExcelExport", { AdName: $.trim($("#AdName").val()), StartLaunchTime: $.trim($("#StartLaunchTime").val()), EndLaunchTime: $.trim($("#EndLaunchTime").val()), Status: $.trim($("#Status").val()), ADPlanID: $.trim($("#ADPlanID").val()), NewAdPlanID: $.trim($("#NewAdPlanID").val()), IsAmdin: IsAmdin, LaunchStatus: $("#LaunchStatus").val() }, function (data) {
                    layer.close(loadIndex);
                    if (data != null && data.result) {
                        layer.alert(data.msg);
                        window.open(data.fileUrl);
                    } else {
                        layer.alert(data.msg);
                    }  
                }).error(function () { layer.close(loadIndex); });
            })
        });
    </script>

}