@{
    ViewBag.Title = "首页";
    ViewBag.UserLoginName = ViewBag.CompanyName + "[ID:" + ViewBag.BussinID + "]";
}

<div class="layui-tab layui-tab-brief" lay-filter="demoTitle" id="main_content">
    <ul class="layui-tab-title site-demo-title">
        <li class="layui-this">首页</li>
        <li>由于广告计划实时消耗中，本页面账户余额、今日账户消耗，每十分钟更新一次，仅供参考，最终数据以财务信息表为准！</li>
    </ul>


    <div class="layui-main">
        <form action="" method="post" id="search_form" class="layui-form">
            <div class="layui-form-item" style="margin-bottom:0px;margin-top:10px;">
                <div class="layui-inline" style="float: left; margin-left: 40px;">
                    <a style="display:block;" class="btn btn-success layui-btn" href="/Advplan/Add/">+新建广告计划</a>
                </div>
            </div>
        </form>
        <div class="panel-body">
            <div style="float:left;width:19%; margin-right:10px;">
                <table class="table dataTable layui-table">
                    <thead>
                        <tr>
                            <th>
                                账户总余额(元)<br>
                                0.00
                            </th>
                        </tr>
                        <tr>
                            <th>
                                今日账户消耗(元)<br>
                                0.00
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a style="diplay:blcok;text-align:center; float:left; width:50%;" href="/Finance/List/"><input type="button" class="btn btn-success layui-btn" name="mingxi" value="明细" /></a>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>