<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="JMGGConnectionString" connectionString="Data Source=.;Database=JMGGProject;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="log4net.Config" value="Config/log4net.config"/>
		<!--应用程序ID-->
		<add key="appid" value="110905"/>
		<!--定时重数据库获取数据时间【单位:毫秒】-->
		<add key="Timed" value="60000"/>
		<!--参数加密KEY-->
		<add key="ConnectKey" value="BeiJing#2008" />
	</appSettings>
</configuration>